.titleInfo{
    font-family: 'Philosopher', sans-serif;
    text-align: left;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 61.04px;
    font-weight: 700px;
    font-style: Normal;
  
}

.background-white{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 48.83px;
    Font-weight: 700px;
    Font-style: Normal;
    color:#FFFFFF;
}

.background-white-h3{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 39.06px;
    Font-weight: 700px;
    Font-style: Normal;
    color:#FFFFFF;
}



h2{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 48.83px;
    Font-weight: 700px;
    Font-style: Normal;
    
  
}

h3{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 39.06px;
    Font-weight: 700px;
    Font-style: Normal;
    
}


h4{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 31.25px;
    Font-weight: 700px;
    Font-style: Normal;
}

.background-white-h4{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 31.25px;
    Font-weight: 700px;
    Font-style: Normal;
    color:#FFFFFF;
}



.Philosopher {
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 16px;
    Font-weight:400px;
    font-size: Normal;
    
}

.PhilosopherBodyExtraLargeBold{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 24px;
    Font-weight:700px;
    font-size: Normal;
}

.PhilosopherBodyExtraLarge{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 24px;
    Font-weight:400px;
    font-size: Normal; 
}

.PhilosopherBodyLarge{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 18px;
    Font-weight:400px;
    font-size: Normal;  
}

.PhilosopherBodyLarge-bg-white{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 18px;
    Font-weight:400px;
    font-size: Normal;  
    color:#FFFFFF;
}

.PhilosopherParagraph{
    Font-Family: 'Philosopher', serif;
    Font-size: 16px;
    Font-weight:Normal;
    font-size: Normal;
    
}



.PhilosopherEmphasis{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 16px / 1rem;
    Font-weight: 400px;
    Font-style: Italic;

}


.PhilosopherLink{
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 16px / 1rem;
    Font-weight: 400px;
    Font-style: Normal;
    text-decoration: underline;
    color: rgb(0, 71, 171);

}


.PhilosopherLink:hover{
    color: #4B59A7;
}


.type1{
    text-align:justify;
    padding-top: 75px;
    color: #4B59A7;
} 


.type2{
    text-align:justify;
    padding-top: 90px;
    color: #4B59A7;

}


.type3{
    text-align:justify;
    padding-top: 90px;
    color: #4B59A7;

}


.navbar-linkj{
    Font-Family: 'Philosopher', sans-serif !important;
}

.nav-link-projects{
    font-weight: 900px !important;
    color: #4B59A7;
}

.footer-ab{
    background-color:#EFECE4 !important; 
}

.copyrightText{
    font-family:'Philosopher', sans-serif; 
}


.btn-light{
    background-color: #F9E7AE;
    border-color: #F9E7AE;
}

.card-body{
    background-color: black !important;
} 

.card-desktop{
    background-color: black !important;
}

.card-info{
    background-color: black !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.card-grey{
    background-color: #D9D9D9 !important;
    border-bottom-left-radius: 5px;
}

.card-grey-mobile{
    background-color: #D9D9D9 !important;
}

.card-text{
    color:#FFFFFF;
    Font-Family: 'Philosopher', sans-serif;
    Font-size: 16px;
}

.card-base-desktop{
    margin-bottom: 3px;
    position:absolute;
    bottom: 0px;
}

.card-title{
    color:#FFFFFF;
    font-family: 'Philosopher', sans-serif;
    font-size: 31px;
}

.card-title-logo, .card-title-color{
    color:#FFFFFF;
    font-family: 'Philosopher', sans-serif;
    font-size: 28px;
}

.card-base{
    Font-Family: 'Philosopher', sans-serif;  
}

.card-bottom{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.NavBarIntro{
    background-color:#F9E7AE !important;
}

.title-row{
    background-color: #4B59A7;
    height: 150px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.btn-light:hover{
    background-color:#A3A7B5;
    border-color:#A3A7B5;
}


/* html body{
    background-color: #F2EBDA;
} */


.PatternsImage{
    border: 1px solid #000;
    padding: 0;
}

.componentIndent{
    margin-left: 50px;
}

.row-title-banner{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
